In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Export chocolate csv into Dataframes
chocolate_file = "Resources/chocolate.csv"
chocolate_df = pd.read_csv(chocolate_file)
chocolate_df.head()

,Unnamed: 0,ref,company,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,counts_of_ingredients,...,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar,first_taste,second_taste,third_taste,fourth_taste
0,0,2454,5150,U.S.A,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.75,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,cocoa,blackberry,full body,NaN
1,1,2458,5150,U.S.A,2019,Dominican republic,"Zorzal, batch 1",76.0,3.50,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,cocoa,vegetal,savory,NaN
2,2,2454,5150,U.S.A,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.25,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,rich cocoa,fatty,bready,NaN
3,3,797,A. Morin,France,2012,Peru,Peru,63.0,3.75,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,fruity,melon,roasty,NaN
4,4,797,A. Morin,France,2012,Bolivia,Bolivia,70.0,3.50,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,vegetal,nutty,NaN,NaN

In [3]:
#Clean dataset for only companies located in France
chocolate_df = chocolate_df.loc[chocolate_df['company_location']=='France']
chocolate_df.reset_index(inplace=True)
chocolate_df.drop(['index'], axis='columns', inplace=True)
chocolate_df['chocolate_id'] = chocolate_df.index + 1
chocolate_df.head()

,Unnamed: 0,ref,company,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,counts_of_ingredients,...,vanilla,lecithin,salt,sugar,sweetener_without_sugar,first_taste,second_taste,third_taste,fourth_taste,chocolate_id
0,3,797,A. Morin,France,2012,Peru,Peru,63.0,3.75,4,...,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,fruity,melon,roasty,NaN,1
1,4,797,A. Morin,France,2012,Bolivia,Bolivia,70.0,3.50,4,...,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,vegetal,nutty,NaN,NaN,2
2,5,1015,A. Morin,France,2013,Venezuela,Chuao,70.0,4.00,4,...,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,oily,nut,caramel,raspberry,3
3,6,1019,A. Morin,France,2013,Peru,Chanchamayo Province,63.0,4.00,3,...,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,sweet,cocoa,tangerine,NaN,4
4,7,1011,A. Morin,France,2013,Ecuador,Equateur,70.0,3.75,4,...,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,sandy,nutty,cocoa,fig,5

In [4]:
#Create and Transform Chocolate Company Dataset
chocolate_companies = chocolate_df.company.unique()
chocolate_companies_df = pd.DataFrame({'company': chocolate_companies})
chocolate_companies_df["company_id"] = chocolate_companies_df.index + 1
chocolate_companies_df = chocolate_companies_df[['company_id','company']]
chocolate_companies_df.head()

   company_id        company
0           1       A. Morin
1           2  Alain Ducasse
2           3            Ara
3           4      Bernachon
4           5         Bonnat

In [5]:
#Create and Transform Chocolate Rating Dataset
chocolate_rating = chocolate_df[['chocolate_id','company','review_date','rating']]
chocolate_rating = chocolate_rating[['chocolate_id','company','review_date','rating']]
chocolate_rating.head()

   chocolate_id   company  review_date  rating
0             1  A. Morin         2012    3.75
1             2  A. Morin         2012    3.50
2             3  A. Morin         2013    4.00
3             4  A. Morin         2013    4.00
4             5  A. Morin         2013    3.75

In [6]:
#Create and Transform Chocolate Ingredients Dataset
chocolate_ingredients = chocolate_df[['chocolate_id','company','country_of_bean_origin','cocoa_percent','cocoa_butter','vanilla','lecithin','salt','sugar','sweetener_without_sugar']]
b = {'have_cocoa_butter': True, 'have_not_cocoa_butter': False, 'have_vanila': True, 'have_not_vanila': False,'have_lecithin': True, 'have_not_lecithin': False,'have_salt': True, 'have_not_salt': False,'have_sugar': True, 'have_not_sugar': False,'have_sweetener_without_sugar': True, 'have_not_sweetener_without_sugar': False,}
chocolate_ingredients_df = chocolate_ingredients.replace({'cocoa_butter': b, 'vanilla': b, 'lecithin':b, 'salt':b,'sugar':b,'sweetener_without_sugar':b,})
chocolate_ingredients_df.head()

,chocolate_id,company,country_of_bean_origin,cocoa_percent,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar
0,1,A. Morin,Peru,63.0,True,False,True,False,True,False
1,2,A. Morin,Bolivia,70.0,True,False,True,False,True,False
2,3,A. Morin,Venezuela,70.0,True,False,True,False,True,False
3,4,A. Morin,Peru,63.0,True,False,False,False,True,False
4,5,A. Morin,Ecuador,70.0,True,False,True,False,True,False

In [13]:
#Setting the index for ID
chocolate_companies_df.set_index("company_id", inplace=True)
chocolate_rating.set_index("chocolate_id", inplace=True)
chocolate_ingredients_df.set_index("chocolate_id", inplace=True)

In [8]:
#Connect to Database
connection_string = "postgres:5411sugar@localhost:5432/chocolate"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
chocolate_companies_df.to_sql(name='chocolate_company', con=engine, if_exists='append', index=True)

In [10]:
chocolate_rating.to_sql(name='chocolate_rating', con=engine, if_exists='append', index=True)

In [14]:
chocolate_ingredients_df.to_sql(name='chocolate_ingredients', con=engine, if_exists='append', index=True)