In [1]:
import pandas as pd
from sqlalchemy import create_engine
#import psycopg2

In [2]:
data_file = "data/wine.csv"
wine_df = pd.read_csv(data_file)

In [3]:
wine_df.head()

,Title,Variety,Appelation,Rating,Price
0,Ravoire et Fils 2017 Olivier Ravoire (Côte Rô...,Côte Rôtie,Rhône Valley,94,80
1,Cave de Tain 2017 Arènes Sauvages (Cornas),Cornas,Rhône Valley,93,100
2,Domaine des Remizières 2017 Cornas,Domaine des Remizières 2017 Corna,Rhône Valley,92,60
3,Domaine de Verquiere 2017 Red (Rasteau),Rasteau,Rhône Valley,92,/A
4,Domaine le Colombier 2018 Cuvée G Red (Vacquey...,Vacqueyras,Rhône Valley,91,30

In [4]:
wine_df['Price'] =  pd.to_numeric(wine_df['Price'], errors = 'coerce').fillna(0).astype('int')

In [5]:
wine_df

,Title,Variety,Appelation,Rating,Price
0,Ravoire et Fils 2017 Olivier Ravoire (Côte Rô...,Côte Rôtie,Rhône Valley,94,80
1,Cave de Tain 2017 Arènes Sauvages (Cornas),Cornas,Rhône Valley,93,100
2,Domaine des Remizières 2017 Cornas,Domaine des Remizières 2017 Corna,Rhône Valley,92,60
3,Domaine de Verquiere 2017 Red (Rasteau),Rasteau,Rhône Valley,92,0
4,Domaine le Colombier 2018 Cuvée G Red (Vacquey...,Vacqueyras,Rhône Valley,91,30
...,...,...,...,...,...
375,Château Signac 2004 Terra Amata Chusclan Red (...,Côtes du Rhône Villages,Languedoc-Roussillon,90,22
376,Château Signac 2004 Tradition Chusclan Red (Cô...,Côtes du Rhône Villages,Languedoc-Roussillon,87,16
377,Château Dassault 2005 Barrel sample (Saint-Ém...,Saint-Émilion,Languedoc-Roussillon,87,0
378,Château Larose-Trintaudon 2003 Haut-Médoc,Château Larose-Trintaudon 2003 Haut-Médo,Languedoc-Roussillon,87,0
379,Charles de Fère NV Réserve French Shiraz Shira...,Vin Mousseux,Languedoc-Roussillon,86,0

In [8]:
connection_string = "postgresql://postgres:[redacted]@localhost:60690/wine_db"
engine = create_engine(connection_string)

In [7]:
wine_df.to_sql(name="french_wines", con=engine, if_exists='append', index=False)